---
import Favicon from '@assets/favicon.astro'
---

<a
  href="/"
  class="flex items-center gap-1 pl-5 transition-transform duration-300 cursor-pointer md:pl-0 w-fit hover:scale-110"
>
  <Favicon class="size-10" />
  <span
    class="hidden text-3xl font-bold leading-none lg:block dark:text-sky-400"
  >
    Brionex
  </span>
</a>
