---
import Home from '@icons/ui/Home.astro'
import Brain from '@icons/ui/Brain.astro'
import News from '@icons/ui/News.astro'
import School from '@icons/ui/School.astro'
import NavLink from '@components/NavLink.astro'
---

<nav
  class="row-[2/3] col-span-2 grid grid-rows-[0fr] has-[input:checked]:grid-rows-[1fr] has-[input:checked]:pt-5 transition-[grid-template-rows_padding] ease-in-out duration-300 overflow-hidden md:flex"
>
  <input type="checkbox" id="toggle-nav" hidden aria-hidden />
  <ul class="flex flex-col overflow-hidden md:flex-row">
    <NavLink href="#home"><Home /> Inicio</NavLink>
    <NavLink href="#projects"><School /> Proyectos</NavLink>
    <NavLink href="#skills"><Brain /> Habilidades</NavLink>
    <NavLink href="/blog"><News /> Blog</NavLink>
  </ul>
</nav>
