---
import Sun from '@icons/ui/Sun.astro'
import Moon from '@icons/ui/Moon.astro'
---

<button id="theme-switch" class="flex">
  <Sun class="dark:hidden" />
  <Moon class="hidden dark:block" />
</button>

<style>
  button {
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const button = document.querySelector('#theme-switch')
    setTheme()
    button?.addEventListener('click', () => {
      localStorage.setItem('theme', getTheme() === 'dark' ? 'light' : 'dark')
      setTheme()
    })
  })
</script>
