---
import '@styles/main.css'
import '@fontsource-variable/inter'
import '@fontsource-variable/onest'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <script is:inline>
      const getTheme = () => {
        const theme = localStorage.getItem('theme')
        if (theme) return theme
        return 'dark'
      }

      const setTheme = () => {
        if (getTheme() === 'dark') {
          document.documentElement.classList.add('dark')
          localStorage.setItem('theme', 'dark')
        } else {
          document.documentElement.classList.remove('dark')
          localStorage.setItem('theme', 'light')
        }
      }
      setTheme()
      document.addEventListener('astro:page-load', setTheme)
    </script>
  </head>
  <body
    class="relative text-black bg-white dark:bg-rich-black dark:text-white font-onest"
  >
    <div
      class="background absolute inset-0 -z-10 before:absolute after:absolute before:w-60 before:h-96 after:w-60 after:h-80 before:bg-sky-500 after:bg-sky-500 before:blur-[200px] after:blur-[200px] before:top-[5%] after:top-[20%] after:right-0"
    >
    </div>
    <slot />
  </body>
</html>
